.DS_Store
frontend/hackathon_clavicular/.dart_tool/

frontend/hackathon_clavicular/.pub/

.idea/
.vagrant/
.sconsign.dblite
.svn/

frontend/hackathon_clavicular/migrate_working_dir/

*.swp
frontend/hackathon_clavicular/profile

frontend/hackathon_clavicular/DerivedData/

frontend/hackathon_clavicular/.generated/

frontend/hackathon_clavicular/*.pbxuser
frontend/hackathon_clavicular/*.mode1v3
frontend/hackathon_clavicular/*.mode2v3
frontend/hackathon_clavicular/*.perspectivev3

!frontend/hackathon_clavicular/default.pbxuser
!frontend/hackathon_clavicular/default.mode1v3
!frontend/hackathon_clavicular/default.mode2v3
!frontend/hackathon_clavicular/default.perspectivev3

frontend/hackathon_clavicular/xcuserdata

frontend/hackathon_clavicular/*.moved-aside

*.pyc
frontend/hackathon_clavicular/*sync/
frontend/hackathon_clavicular/Icon?
frontend/hackathon_clavicular/.tags*

frontend/hackathon_clavicular/build/
frontend/hackathon_clavicular/.android/
frontend/hackathon_clavicular/.ios/
frontend/hackathon_clavicular/.flutter-plugins-dependencies

# Symbolication related
frontend/hackathon_clavicular/app.*.symbols

# Obfuscation related
frontend/hackathon_clavicular/app.*.map.json
